@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
}

.pokemon-card {
    background-color: var(--pokemon-blue-light);
    
    display: flex;
    flex-direction: row;
    
    margin: 0 0 10px 10px;
    width: 500px;
    height: 150px;
    
    border-radius: 15px;
    box-sizing: border-box;

    img {
        background-color: var(--pokemon-blue-light-2);
        
        margin: 1.5rem;
        width: 96px;
        height: 96px;
        
        border-radius: 50%;
    }

    .inline {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        margin-right: 1.5rem;
        margin-top: 1rem;
    
        .pokemon-name {
            font-size: 1.5rem;
        }
    
        .types {
            display: flex;
            flex-direction: row;
            gap: 5px;
            
            margin: 0;
            margin-top: 8px;
        }
    }

    .description {
        max-height: 90px;
        font-size: 14px;
        
        margin-top: 0;
        width: 80%;
    
        overflow-y: hidden;
        text-overflow: ellipsis;
    }

    .icon {
        color: var(--pokemon-blue-light-2);
        
        cursor: pointer;
        
        margin-top: 2.5rem;
    }
}









