@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    // improve color palette
    --primary: #F7D8A7; // Background
    --primary-2: #F7F0A7; // Titulo botoes e elementos
    --secondary: #F7A7D8; // Fundos e detalhes
    --secondary-2:  #E7A7A7; // Menus e icones
    --text-color: #F7F7F7; // Textos
    font-family: "Fredoka", sans-serif;
}

.pokemon-card {
    box-sizing: border-box;
    border: 2px solid var(--secondary-2);
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    width: 500px;
    height: 150px;
    background-color: var(--primary-2);
    color: var(--text);
}

.pokemon-name {
    color: var();
    font-size: 1.5rem;
}

.icon {
    color: var(--secondary-2);
    cursor: pointer;
}

img {
    margin: 1.5rem;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: var(--secondary-2);
}

.inline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
}

.types {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.description {
    width: 80%;
    margin-top: 0;
}