:root {
    //pokédex-colors
    --pokedex-red: #DC0A2D;
    --pokedex-white: #DEDEDE;
    --pokedex-blue: #27ABFE;
    --pokedex-black: #00312C;

    // improve color palette
    --primary: #E6E6FA; // Background
    --secondary: #D4C2FF; // Titulo botoes e elementos
    --tertiary: #C9B7F7; // Fundos e detalhes
    --accent:  #FDF5FF; // Menus e icones
    --text-color: #F7F7F7; // Textos
    font-family: "Fredoka", sans-serif;
}